<b><i><h2><center>scraping  the Wikipedia page and wrangling the data, clean it, and then reading it into a pandas dataframe </h2><b></i>

In [71]:
import requests
url = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
from bs4 import BeautifulSoup
soup = BeautifulSoup(url,'lxml')

In [72]:
My_table = soup.find('table',{'class':'wikitable sortable'})

In [10]:
print(My_table.tr.text)

Postcode
Borough
Neighbourhood

In [73]:
table1=""
for tr in My_table.find_all('tr'):
    row1=""
    for tds in tr.find_all('td'):
        row1=row1+","+tds.text
    table1=table1+row1[1:]

<b><h2> Reading as csv file

In [74]:
file=open("toronto_data.csv","w")
file.write((table1))
file.close()

In [41]:
import pandas as pd
df = pd.read_csv('toronto_data.csv',header=None)
df.columns=["Postalcode","Borough","Neighbourhood"]
df.head()

  Postalcode           Borough     Neighbourhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

<b><h3>Ignoring the cells with a borough that is Not assigned by droping them.

In [49]:

indices=df[ df['Borough'] =='Not assigned'].index
indices
df.drop(indices,inplace=True)
df.head()

  Postalcode           Borough     Neighbourhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

<b><h3>If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough

In [50]:
df.loc[df['Neighbourhood'] =='Not assigned' , 'Neighbourhood'] = df['Borough']
df.head(10)

   Postalcode           Borough     Neighbourhood
2         M3A        North York         Parkwoods
3         M4A        North York  Victoria Village
4         M5A  Downtown Toronto      Harbourfront
5         M6A        North York  Lawrence Heights
6         M6A        North York    Lawrence Manor
7         M7A  Downtown Toronto      Queen's Park
9         M9A         Etobicoke  Islington Avenue
10        M1B       Scarborough             Rouge
11        M1B       Scarborough           Malvern
13        M3B        North York   Don Mills North

In [53]:
result = df.groupby(['Postalcode','Borough'], sort=False)
result.head()

    Postalcode           Borough             Neighbourhood
2          M3A        North York                 Parkwoods
3          M4A        North York          Victoria Village
4          M5A  Downtown Toronto              Harbourfront
5          M6A        North York          Lawrence Heights
6          M6A        North York            Lawrence Manor
..         ...               ...                       ...
281        M8Z         Etobicoke  Kingsway Park South West
282        M8Z         Etobicoke                 Mimico NW
283        M8Z         Etobicoke        The Queensway West
284        M8Z         Etobicoke     Royal York South West
285        M8Z         Etobicoke            South of Bloor

[202 rows x 3 columns]

<b><h3>Combining Neighbourhoods and boroughs with same postal code

In [61]:
result=result.agg(','.join)
result.head()

                                               Neighbourhood
Postalcode Borough
M3A        North York                              Parkwoods
M4A        North York                       Victoria Village
M5A        Downtown Toronto                     Harbourfront
M6A        North York        Lawrence Heights,Lawrence Manor
M7A        Downtown Toronto                     Queen's Park

In [62]:
df_new=result.reset_index()
df_new.head(15)

,Postalcode,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,Harbourfront
3,M6A,North York,"Lawrence Heights,Lawrence Manor"
4,M7A,Downtown Toronto,Queen's Park
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Rouge,Malvern"
7,M3B,North York,Don Mills North
8,M4B,East York,"Woodbine Gardens,Parkview Hill"
9,M5B,Downtown Toronto,"Ryerson,Garden District"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"Cloverdale,Islington,Martin Grove,Princess Gar..."
12,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union"
13,M3C,North York,"Flemingdon Park,Don Mills South"
14,M4C,East York,Woodbine Heights

In [64]:
df_new.shape

(103, 3)